<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full min-h-screen flex flex-col justify-between text-white">
        <img src="/images/sky.jpg" class="w-full fixed h-screen object-cover" alt="sky Img">
        <header class="relative justify-center flex w-full">
            <nav style="background-color: #0071c8f4;" class="w-2/5 bg-opacity-75 mt-5 rounded-lg">
                <ul class="flex justify-between px-5 py-3">
                    <li><a class="hover:border-b-2 px-1 rounded hover:border-white" href="/views/index.ejs">Home</a></li>
                    <li><a class="hover:border-b-2 px-1 rounded hover:border-white" href="/views/signup.ejs">Signup</a></li>
                    <li><a class="hover:border-b-2 px-1 rounded hover:border-white" href="/views/login.ejs">Login</a></li>
                    <li><a class="hover:border-b-2 px-1 rounded hover:border-white" href="/views/update.ejs">Update</a></li>
                    <li><a class="hover:border-b-2 px-1 rounded hover:border-white" href="/views/delete.ejs">Delete</a></li>
                    <li><a class="hover:border-b-2 px-1 rounded hover:border-white" href="/views/userdata.ejs">All User Name & Email</a></li>
                </ul>
            </nav>
        </header>
        
        <div class="hero relative flex flex-grow justify-center items-center">
            <form action="/delete" method="post"
                class="bg-slate-700 rounded-md p-5 flex flex-col gap-5 text-center">
                <h1 class="text-xl font-bold">Delete Your Data</h1>
                <input required type="text" name="name" placeholder="Enter Your Name" class="px-3 py-2 rounded-md text-black">
                <input required type="text" name="email" placeholder="Enter Your Email" class="px-3 py-2 rounded-md text-black">
                <input required type="password" name="pass" placeholder="Enter Your Password"
                    class="px-3 py-2 rounded-md text-black">
                <button type="submit" class="bg-blue-700 px-3 py-2 rounded-md">Submit</button>
            </form>
        </div>

        <footer style="background-color: #9bfb00b3;" class="text-black relative font-bold text-center py-2">
            <p>&copy; 2024 Your Website. All rights reserved.</p>
        </footer>
    </div>
</body>

</html>
