<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="w-full h-screen bg-cover bg-center relative text-white" style="background-image: url('/images/sky.jpg');">
        <!-- Header -->
        <header class="flex justify-center">
            <nav class="w-2/5 bg-opacity-75 mt-5 rounded-lg">
                <ul class="flex justify-between px-5 py-3">
                    <li><a class="hover:border-b-2 px-1 rounded hover:border-white" href="/views/index.ejs">Home</a></li>
                    <li><a class="hover:border-b-2 px-1 rounded hover:border-white" href="/views/signup.ejs">Signup</a></li>
                    <li><a class="hover:border-b-2 px-1 rounded hover:border-white" href="/views/">Login</a></li>
                    <li><a class="hover:border-b-2 px-1 rounded hover:border-white" href="/views/update.ejs">Update</a></li>
                    <li><a class="hover:border-b-2 px-1 rounded hover:border-white" href="/views/delete.ejs">Delete</a></li>
                    <li><a class="hover:border-b-2 px-1 rounded hover:border-white" href="/views/userdata.ejs">All User Name & Email</a></li>
                </ul>
            </nav>
        </header>
        
        <!-- Footer (optional) -->
        <footer class="absolute bottom-0 w-full text-center  py-2">
            <p>&copy; 2024 Your Website. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
