<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All User</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-black">
    <header class="justify-center p-5 bg-black text-white flex w-full">
        <nav class="w-2/5 border-b-2 px-1 bg-slate-700 rounded border-white rounded-lg">
            <ul class="flex justify-between px-5 py-3">
                <li><a class="hover:border-b-2 px-1 rounded hover:border-white" href="/views/index.ejs">Home</a></li>
                <li><a class="hover:border-b-2 px-1 rounded hover:border-white" href="/views/signup.ejs">Signup</a></li>
                <li><a class="hover:border-b-2 px-1 rounded hover:border-white" href="/views/login.ejs">Login</a></li>
                <li><a class="hover:border-b-2 px-1 rounded hover:border-white" href="/views/update.ejs">Update</a></li>
                <li><a class="hover:border-b-2 px-1 rounded hover:border-white" href="/views/delete.ejs">Delete</a></li>
                <li><a class="hover:border-b-2 px-1 rounded hover:border-white" href="/views/userdata.ejs">All User Name
                        & Email</a></li>
            </ul>
        </nav>
    </header>

    <div class="main h-min bg-slate-600 pt-10 text-white w-full p-5">
        <h1 class="font-bold text-6xl underline text-center">All User Data</h1>
        <div class=" justify-center mt-5">
        <!-- <div class="flex flex-wrap justify-center mt-5"> -->
            <% if( udata.length> 0) { %>
                <% udata.forEach(user=> { %>
                    <div class="bg-slate-700 flex justify-between rounded-md m-5 w-1/4 p-5">
                        <h2 class="text-xl font-bold  ">
                            <%=user.name %>
                        </h2>
                        <p class="text-slate-400 no-underline hover:underline cursor-not-allowed">
                            <%=user.email %>
                        </p>
                    </div>
                <% }) %>
            <% } else { %>
                <div class="bg-slate-700 flex justify-between rounded-md m-5 w-1/2 p-5">
                        <h2 class="text-xl font-bold "> Data Not Found..! </h2>
                </div>
            <% } %>
        </div>
    </div>

    <footer class="bg-black text-slate-300 text-center py-2">
        <p>&copy; 2024 Your Website. All rights reserved.</p>
    </footer>
</body>

</html>